.home-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  margin-right: 50px;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 25px;
  margin-top: 40px;
}
.top-banner {
  background-color: #ede8e8;
}

.grower-button {
  width: 436px;
  height: 43px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  background: #47cc4d;
}
.logo-img {
  width: 150px;
  height: 118.03px;
  margin-left: 120px;
  margin-bottom: 25px;
}
.top-title {
  margin-top: 30px;
}
.select-info {
  margin-left: 30px;
  width: 265px;
  height: 789px;
  background: #ffffff;
}
.all-info {
  margin: 30px;
}
.location-pera {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 10px;
}
.indigo-button {
  padding: 5px;
  border: 1px solid gray;
}
.indigo-button:nth-child(1) {
  padding: 5px;
  border: 1px solid #47cc4d;
  color: #47cc4d;
}
