.card-information {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  margin-right: 10px;
  height: 150px;
}
.img-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.awarded {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 0px 3px 0px;
  margin-bottom: 10px;
  background: #4caf50;
  border-radius: 5px;
}
.view {
  color: #4caf50;
  border: 1px solid #4caf50;
  border-radius: 5px;
  padding: 5px 0px 3px 0px;
}
/* padding: 5px 0px 3px 0px;
margin: 10px 10px 10px; */
